<section class="slides">
</section>
<section class="next">
    <button>Next &rarr;</button>
</section>
<button class="save">save</button>
<!--
<footer>
    <a href="http://pitchdeck.apitecture.nl">Powered by APItecture</a><br>
    <a href="http://guykawasaki.com/the-only-10-slides-you-need-in-your-pitch/">Format by Guy Kawasaki</a>
</footer>
-->